---
import AboutHeroImage from '../assets/AboutHead.png';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="About the blog and the artist"
	pubDate={new Date('August 08 2021')}
	category="About"
	tags={['About']}
	heroImage={AboutHeroImage}
>
	<p>
		博客是一个比较现代的记录方式，这里会记录一些关于我的学习和创作，如果这些内容恰巧帮助到了你，那么欢迎你通过下面的方式进行充电支持
	</p>

	<p>
		关于手绘风格，博主在小时候热爱观看这类动画片且经常会在各种纸质媒介上手绘。尽管由于各种原因我没有成为一个漫画家，但我一直对这种风格情有独钟。
	</p>
	<p>
		关于托管，目前博客托管在 Microsoft Azure 上，以提升中国大陆用户的访问体验。
	</p>
	<p>
		为了保证内容的准确性，博客中会对部分关键词提供中英对照表
	</p>
</Layout>
